#foto{
    width: 400px;
    height: 400px;
    padding-top: 10rem;
    margin-top: -3rem;
    margin-bottom:3rem;
  }
  
  .img{
   display: flex;
   border: 3px solid black;
   width: 30%;
   margin-left: 3rem;
   justify-content: center;
   background-color: black;
   margin-top: 3rem;
  }
  
  .container{
    margin-left: 40%;
    margin-top: -35%;
  }
  
  .dades{
  background-color: cornflowerblue ;
  width: 60%;
  }
  .estudis_idiomes{
    background-color: coral;
    display: flex;
    width: 80%;
  }
  .estudis{
    margin-left: 4rem;
  }
  .idiomes{
    margin-left: 20rem;
  }
  .experiencia{
    background-color: darksalmon;
  }
  .experiencia a{
    color: blue;
    text-decoration: none;
  }
  .experiencia a:hover{
    color:cyan;
    text-decoration: none;
  }


  @media only screen and (max-width: 600px) {
    .img{visibility: hidden;}
    .container{
      margin-top: -30rem;
      width: 200px;
    }
    body {background: black;
          color: white;}
    .estudis_idiomes{
      background: black;
    }
    .experiencia{
      background-color: black;
      padding: 2rem;
      margin-top: 3rem;
    }
    .dades{
      background-color: black;
      padding: 2rem;
      margin-bottom: 3rem;
      }
  }

  @media only screen and (max-width: 800px) {
    #foto{
      height: 300px;
      width: 290px;
    }
    .img{
    background-color: transparent;
    border: 0px;
    }
    .dades{
      width: 28rem;
      background-color: blue;
      color: white;
    }
    .estudis_idiomes{
      width: 28em;
      display: flex;
      flex-direction: column;
      background-color: cadetblue;
    }
    .experiencia{
      width: 28rem;
      text-align: center;
      background-color: cornflowerblue;
    }
  }

  @media only screen and (max-width: 450px) {
    .dades{
      margin-left: -10rem;
      width: 20rem;
    }
    .estudis_idiomes{
      margin-left: -10rem;
      width: 24rem;
      text-align: center;
    }
    .idiomes{
      margin-left: +4rem;
    }
    .experiencia{
      margin-left: -10rem;
      width: 20rem;
    }
  }
  