menu{
  display:flex;
  justify-content: center;
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
     margin: 0px;
    padding: 15px; 
    background-color: aquamarine;  
    border: 2px black solid;
}

.menu li {
    float: left;
    border: 2px red solid;
    margin-left: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu li.moure {
  float: left;
  border: 2px red solid;

}

.menu a {
    text-decoration: none;
    color: black;
    padding: 14px;
}

ol{
  width: 10%;
}

li{
  border: 3px solid black;
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: center;
}

.sobre li:hover{
  background-color: black;
  color: white;
}

/*body{
  background-color: bisque;
}*/
.text{
  text-align: center;
}

img{
  width: 600px;
  height: 700px;
  padding-top: 10rem;
}

table.idiomes{
  border: 3px solid black;
  margin-left: 50%;
  margin-top: 5rem;
}

.idiomes th,td{
  border: 3px solid black;
}

.dades{
 margin-left: 50%;
 margin-top: -40%;
}

body{
  background-color: bisque;
}

#firstline{
  border: 3px red solid;
}



#firstline {
  display: flex;
  border: 6px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

#firstline-left{
  width: 50%;
  background-color: blueviolet;
  border-right: 6px solid black;
}

#firstline-right{
  width: 50%;
  background-color: pink;
}



#tresparts {
  display: flex;
  border: 6px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

#left{
  width: 33.33%;
  background-color: rgb(38, 255, 0);
  border-right: 6px solid black;
}
#center{
  width: 33.33%;
  background-color: rgb(54, 13, 158);
  border-right: 6px solid black;
}
#right{
  width: 33.33%;
  background-color: orange;
}

footer{
  border-top: 6px solid black;
  margin-top: 25%;
  font-size: 30px;
}




