.menu ul {
    list-style-type: none;
    overflow: hidden;
     margin: 0px;
    padding: 15px; 
    background-color: aquamarine;  
    border: 2px black solid;
}

.menu li {
    float: left;
    border: 2px red solid;
    margin-left: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu li.moure {
  float: left;
  border: 2px red solid;

}

.menu a {
    text-decoration: none;
    color: black;
    padding: 14px;
}

ol{
  width: 10%;
}

li{
  border: 3px solid black;
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: center;
}

.sobre li:hover{
  background-color: black;
  color: white;
}

/*body{
  background-color: bisque;
}*/
.text{
  text-align: center;
}


