menu{
  display:flex;
  justify-content: center;
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
     margin: 0px;
    padding: 15px; 
    background-color: aquamarine;  
    border: 2px black solid;
}

.menu li {
    float: left;
    border: 2px red solid;
    margin-left: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 14px;
}

.menu li:hover{
  background-color: white;
}

.text{
  text-align: center;
  height: 200px;
}

body{
  background-color: bisque;
}

footer{
  border-top: 6px solid black;
  margin-top: 24%;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  body {background: red;
  }
  .menu {display: flex;
        flex-direction: column;
  }
  .menu li {float: none; 
  }
  .footer{
    /* padding-top: 30rem; */
    margin-bottom: 0;
  }
}




/* curriculum */

/* #foto{
  width: 400px;
  height: 400px;
  padding-top: 10rem;
  margin-top: -3rem;
  margin-bottom:3rem;
}

.img{
 display: flex;
 border: 3px solid black;
 width: 30%;
 margin-left: 3rem;
 justify-content: center;
 background-color: black;
 margin-top: 3rem;
}

.container{
  margin-left: 40%;
  margin-top: -35%;
}

.dades{
background-color: cornflowerblue ;
}
.estudis_idiomes{
  background-color: coral;
  display: flex;
}
.estudis{
  margin-left: 4rem;
}
.idiomes{
  margin-left: 20rem;
}
.experiencia{
  background-color: darksalmon;
}
.experiencia a{
  color: blue;
  text-decoration: none;
}
.experiencia a:hover{
  color:cyan;
  text-decoration: none;
} */





/* Experiencia */

/* .titol{
  text-align: center;
}
.alerta{
  color: red;
}

#udl{
  width: 300px;
  height: 200px;
  margin-top: -10rem;
}

.gm{
  width: 50%;
  background-color:darkseagreen;
  border-right: 6px solid black;
}

.gs{
  width: 50%;
  background-color:deepskyblue;
}

.containerPractiques {
  display: flex;
  border: 6px solid black;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.laboral{
  border: 6px solid black;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: coral;
  text-align: center;
} */




/* FlexBox */

/* #firstline{
  border: 3px red solid;
}

#firstline {
  display: flex;
  border: 6px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

#firstline-left{
  width: 50%;
  background-color: blueviolet;
  border-right: 6px solid black;
}

#firstline-right{
  width: 50%;
  background-color: pink;
}

#tresparts {
  display: flex;
  border: 6px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

#left{
  width: 33.33%;
  background-color: rgb(38, 255, 0);
  border-right: 6px solid black;
}
#center{
  width: 33.33%;
  background-color: rgb(54, 13, 158);
  border-right: 6px solid black;
}
#right{
  width: 33.33%;
  background-color: orange;
} */





