.titol{
    text-align: center;
  }
  .alerta{
    color: red;
  }
  
  #udl{
    width: 300px;
    height: 200px;
    margin-top: -10rem;
  }
  
  .gm{
    width: 50%;
    background-color:darkseagreen;
    border-right: 6px solid black;
  }
  .gm img{
    height:300px;
    width:450px;
  }
  .gs img{
    height:300px;
    width:450px;
  }
  
  .gs{
    width: 50%;
    background-color:deepskyblue;
  }
  
  .containerPractiques {
    display: flex;
    border: 6px solid black;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .laboral{
    border: 6px solid black;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: coral;
    text-align: center;
  }
  .laboral img{
    height:300px;
    width:450px;
  }

  @media only screen and (max-width: 600px) {
   img{visibility: hidden;}
  }

  @media only screen and (max-width: 800px) {
    img {
      visibility: hidden;
    }
    .containerPractiques{
      height: 400px;
    }
    .laboral{
      height: 200px;
    }
    .gm{
      background-color: darkgrey;
    }
    .gs{
      background-color: darkslategrey;
      color: white;
    }
  }

  @media only screen and (max-width: 450px) {
    img {
      visibility: hidden;
    }
    .containerPractiques{
      height: 750px;
    }
    .laboral{
      height: 400px;
    }
    .gm{
      background-color: darkgrey;
    }
    .gs{
      background-color: darkslategrey;
      color: white;
    }
  }